.privpol-heading{
    /* Center text, set font size, align and justify content, set color, width, padding, and margin */
    text-align: center;
    font-size: 4rem;
    align-items: baseline;
    justify-content: center;
    color: #333;
    width: 100%;
    padding: 2px;
    box-sizing: border-box;  margin: 2rem 0;
    background: rgba(0, 0, 0, .1);
    font-family: 'Playball', cursive;
  }  
  .privpol-heading span{
    /* Set color and font size for span element */
    color: var(--green);
    font-size: 1.8rem;
    font-weight: 600;
  }

#priv-pol-content {
    padding-left: 100px; /* Adjust the padding as needed */
    padding-right: 100px;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

#priv-pol-content h1 {
    font-size: 20px; /* Adjust the font size for headings */
    margin-top: 20px; /* Add space above headings */
    margin-bottom: 1px; /* Add space below headings */
}

#priv-pol-content p {
    font-size: 14px; /* Adjust the font size for paragraphs */
    line-height: 1.5; /* Set line height for better readability */
    margin-bottom: 40px; /* Add space below paragraphs */
    padding-left: 50px; /* Adjust the padding as needed */
    padding-right: 100px;
}

#priv-pol-content span {
    display: block; /* Make spans block elements for better spacing */
    margin-top: 10px; /* Add space above spans */
}
#priv-pol-content #mail {
    font-weight: 600;
}

#priv-pol-content #mail:hover {
    font-weight: 600;
    color: #0c6b3d;
    transform: scale(0.98);
    text-decoration: underline;
}
#priv-pol-content br {
    display: none; /* Remove extra line breaks */
}