/* Import Google Fonts for Poppins, Didot, and Helvetica font families */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

:root {
  --green: #0c6b3d;
  --lite-green: #27963C;
  --whiteBG: #fff;
  --shadedBG: #eee;
  --yellow: #F5DA5E }


/* General styles for all elements */
* {
  /* Reset margins, padding, and borders for all elements */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;  /* Set the font family for all elements */
  /* Remove default outlines, borders, and text decorations */
  outline: none;
  border: none;
  text-decoration: none;
  transition: .2s linear;  /* Set a smooth transition for all properties */
}

/* Set font size, scroll behavior, and overflow for the HTML element */
html {
  font-size: 62.5%;  /* Set the font size to 62.5% to make it easier to calculate rem units.
     For example, 1rem will be equal to 10px, 1.6rem will be equal to 16px, and so on. */
  scroll-behavior: smooth;  /* Enable smooth scrolling when jumping to anchor links within the page. */
  scroll-padding-top: 16rem;  /* Add scroll padding to the top of the HTML element to account for the fixed header.
     This ensures that the content does not get hidden behind the header when jumping to anchor links. */
  overflow-x: hidden;  /* Hide any horizontal overflow to prevent horizontal scrolling. */
}

/* Section styles */
section {
  /* Padding for the section */
  padding: 2rem 9%;
  /* Minimum width for the section */
  min-width: 960px;
  /* Maximum width for the section */
  max-width: 1920px;
  /* Margin for the section */
  margin: 0 auto;
  /* Background color for the section */
  background: var(--whiteBG);
}

/* Heading styles */
.heading{
  text-align: center;  /* Text alignment for the heading */
  font-size: xx-large;  /* Font size for the heading */
  font-family: 'Playball', cursive;  /* Font family for the heading */
  color: #333;  /* Color for the heading */
  padding: 1rem;  /* Padding for the heading */
  margin: 2rem 0;  /* Margin for the heading */
  background: rgba(0, 0, 0, .1);  /* Background color for the heading */
}

/* Span styles within the heading */
.heading span{
  color: var(--green);  /* Color for the span within the heading */
  font-size: 4rem;  /* Font size for the span within the heading */
}

/* Button styles */
.button{
  display: inline-block;  /* Display property for the button */
  margin-top: 1rem;  /* Margin for the button */
  border-radius: 5rem;  /* Border radius for the button */
  background: #333;  /* Background color for the button */
  color: #fff;  /* Color for the button text */
  padding: .9rem 3.5rem;  /* Padding for the button */
  cursor: pointer;  /* Cursor style for the button */
  font-size: 1.7rem;  /* Font size for the button text */
}

/* Button hover styles */
.button:hover{
  transform: scale(0.98);  /* Transform property for the button on hover */
  background: rgb(39,150,60);  /* Background gradient for the button on hover */
  background: linear-gradient(90deg, rgba(39,150,60,1) 0%, rgba(12,107,61,1) 100%);
}



  
/* Navigation bar styles */
    /* The header class is used to style the header of the page.
   It is positioned fixed at the top of the screen, with a
   background color of light gray (#eee). The padding is set
   to .5rem 9%, and the display is set to flex with align-items
   center and justify-content space-between. A box-shadow is
   added to give the header some depth. */
header {
  position: fixed;
  top: 0;    left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);  
  padding: .5rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
}

/* Logo styles */
.logo a {
  /* Display the logo as a flex container with vertically centered content */
  display: flex;
  align-items: center;
  gap: .1rem;  /* Set a small gap between the image and text */
  font-size: 2.5rem;  /* Set the font size of the logo text */
  color: #333;  /* Set the color of the logo text */
  font-weight: bolder;  /* Set the font weight of the logo text */
  height: 50px;  /* Set the height of the logo container */
  line-height: 10px;  /* Set the line height to vertically center the text */
}

.left-logo {
  /* Set the width and height of the logo image */
  width: 50px;
  height: auto;
  object-fit: contain;  /* Set the object fit to contain the image within the specified dimensions */
  cursor: pointer;  /* Set the cursor to a pointer when hovering over the image */
}

.logo-text {
  font-family: 'GFS Didot', serif;  /* Set the font family of the logo text */
}



/* Navbar categories styles */
header .navbar a {
  font-size: 1.5rem;  /* Font size and padding for navbar links */
  padding: 0 2.3rem;
  color: #333;  /* Color for navbar categories */
}

/* Styles for navbar links */
.navbar a {  /* Position, color, font size, font weight, padding, and text decoration for navbar links */
  position: relative;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}

/* Styles for navbar categories hover effect */
.navbar a:before {  /* Content, position, bottom, left, height, width, background, border radius, and transition for navbar link hover effect */
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background: var(--green);
  border-radius: 12px;
  transition: all 0.4s ease;
}

/* Styles for navbar link hover effect */
.navbar a:hover:before {
  width: 100%;  /* Width and transform for navbar link hover effect */
  transform: scale(0.9);
}

/* Styles for sticky header */
header.sticky { 
  padding: 0 2.3rem; /* Padding and background for sticky header */
  background: #eee;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);  /* Box shadow for sticky header */
}


/* Responsive page styles */
header #toggler {
  display: none;
}
header .fa-bars {
  font-size: 3rem;
  color: #333;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
  border: .1rem solid rgb(0, 0, 0,);
  display: none;
}


/* Home section */
.home{ /* This is the container for the home section of the page */
  display: flex;
  align-items: center;
  min-height: 100vh;
  max-height: 300px;
  height: 100%;
  min-width: 960px;
  max-width: 1920px;
  margin: 0 auto;  
  background: url(images/aloe.jpg); /* This is the background image for the home section */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.home .content{ /* This is the container for the content within the home section */
  max-width: 80rem;
}
.home .content h3{ /* This is the heading for the home section */
  font-size: 7rem;
  color: #333;
}
.home .content span{ /* This is the span element within the heading */
  font-size: 3.5rem;
  color: var(--green); /* This is the color variable for the span element */
  padding: 1rem 0;
  line-height: 1.5;
}
.home .content p{ /* This is the paragraph element within the home section */
  font-size: 1.5rem;
  color: #6f6f6f; /* This is the color variable for the paragraph element */
  padding: 1rem 0;
  line-height: 1.5;
}



/* This CSS code is for the 'About' section of a website */
.about .row{
  display: flex; /* This property is used to create a flex container and align items in the center */
  align-items: center;
  gap: 2rem; /* This property is used to create a gap between the flex items */
  flex-wrap: wrap; /* This property is used to allow the flex items to wrap onto multiple lines */
  padding: 2rem 0;
  padding-bottom: 3rem;
}

.about .row .imgBG-container{
  flex: 1 1 40rem; /* This property is used to define the size of the flex item */
  position: relative; /* This property is used to position the child elements relative to this container */
}

.about .row .imgBG-container img{
  width: 100%; /* This property is used to set the width of the image to 100% of its parent container */
  border:1.5rem solid #fff; /* This property is used to add a white border to the image */
  border-radius: .5rem; /* This property is used to add rounded corners to the image */
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1); /* This property is used to add a shadow to the image */
  height: 100%; /* This property is used to set the height of the image to 100% of its parent container */
  object-fit: cover; /* This property is used to ensure the image covers the entire container while maintaining its aspect ratio */
}

.about .row .imgBG-container h3{
  position: absolute; /* This property is used to position the heading over the background image */
  top: 50%; transform: translateY(-50%); /* This property is used to center the heading vertically */
  font-size: 3rem; /* This property is used to set the font size of the heading */
  color: #333; /* This property is used to set the color of the heading */
  background-color: #fff; /* This property is used to set the background color of the heading */
  width: 100%; /* This property is used to set the width of the heading to 100% of its parent container */
  padding: 1rem 2rem; /* This property is used to add padding to the heading */
  text-align: center; /* This property is used to center the text of the heading */
  mix-blend-mode: normal; /* This property is used to define how the heading should blend with its background */
}

.about .row .content{
  flex: 1 1 40rem; /* This property is used to define the size of the flex item */
}

.about .row .content h3{
  font-size: 3rem; /* This property is used to set the font size of the heading */
  color: #333; /* This property is used to set the color of the heading */
}

.about .row .content p{
  font-size: 1.5rem; /* This property is used to set the font size of the paragraph */
  color: #333; /* This property is used to set the color of the paragraph */
  text-align: justify; /* This property is used to justify the text of the paragraph */
  padding: 5rem 0; /* This property is used to add padding to the paragraph */
  padding-top: 1rem; /* This property is used to add padding to the top of the paragraph */
  line-height: 1; /* This property is used to set the line height of the paragraph */
}


/* Culture section */
#Culture{
  /* Display as a grid, set minimum and maximum width, center content, and apply background color */
  display: grid;
  min-width: 960px;
  max-width: 1920px;
  margin: 0 auto;  
  place-items: center;
  text-align: center;
  align-items: center;
  background: var(--whiteBG);
}

.culture-heading{
  /* Center text, set font size, align and justify content, set color, width, padding, and margin */
  text-align: center;
  font-size: 4rem;
  align-items: baseline;
  justify-content: center;
  color: #333;
  width: 100%;
  padding: 2px;
  box-sizing: border-box;  margin: 2rem 0;
  background: rgba(0, 0, 0, .1);
  font-family: 'Playball', cursive;
}  
.culture-heading span{
  /* Set color and font size for span element */
  color: var(--green);
  font-size: 1.8rem;
  font-weight: 600;
}
  
.slider{
  /* Display as flex, set maximum width, and center content */
  max-width: 1100px;
  display: flex;
}
.slider:hover{
  /* Change cursor to grab on hover */
  cursor: grab;
}
.slider .CU-card{
  /* Set flex value, margin, and background color */
  flex: 1;
  margin: 0 10px;
  background:var(--shadedBG);
}
.slider .CU-card .img{
  /* Set height and width */
  height: 200px;
  width: 100%;
}
.slider .CU-card .img img{
  /* Set height and width, and object fit */
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .CU-card .content{
  /* Set padding */
  padding: 10px 20px;
}
.CU-card .content .title{
  /* Set font size and weight */
  font-size: 24px;
  font-weight: 600;
}
.CU-card .content .sub-title{
  /* Set font size, weight, color, and line height */
  font-size: 20px;
  font-weight: 600;
  color: var(--lite-green);
  line-height: 20px;
}
.CU-card .content p{
  /* Set text alignment and margin */
  text-align: justify;
  margin: 10px 0;
}
.CU-card .content .btn{
  /* Set text alignment and margin */
  display: block;
  text-align: left;
  margin: 10px 0;
}
.CU-card .content .btn button{
  /* Set background color, color, border, font size, padding, border radius, and cursor */
  background: var(--green);
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5rem;
  display: inline-block;
}
.CU-card .content .btn button:hover{
  /* Set transform, background color, and transition */
  transform: scale(0.98);
  background: rgb(39,150,60);
  background: linear-gradient(90deg, rgba(39,150,60,1) 0%, rgba(12,107,61,1) 100%);
}


/* Clothing section */
#Clothing{
  display: grid;
  min-width: 960px;
  max-width: 1920px;
  margin: 0 auto;  
  place-items: center;
  text-align: center;
  align-items: right;
  background: var(--whiteBG)

}
.clothing-heading{
  text-align: center;
  font-size: 4rem;
  align-items: baseline;
  justify-content: center;
  font-size: 4rem;
  color: #333;
  width: 100%;
  padding: 2px;
  box-sizing: border-box;  margin: 2rem 0;
  background: rgba(0, 0, 0, .1);
  font-family: 'Playball', cursive;
}  
.clothing-heading span{
  color: var(--green);
  font-size: 1.8rem;
  font-weight: 600;
}
.slider{
  max-width: 1100px;
  display: flex;
}
.slider .CL-card{
  flex: 1;
  margin: 0 10px;
  background: #fff;
}
.slider .CL-card .img{
  height: 200px;
  width: 100%;
}
.slider .CL-card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .CL-card .content{
  padding: 10px 20px;
}
.CL-card .content .title{
  font-size: 25px;
  font-weight: 600;
}
.CL-card .content .sub-title{
  font-size: 20px;
  font-weight: 600;
  color: var(--lite-green);
  line-height: 20px;
}
.CL-card .content p{
  text-align: justify;
  margin: 10px 0;
}
.CL-card .content .btn{
  display: block;
  text-align: left;
  margin: 10px 0;
}
.CL-card .content .btn button{
  background: var(--green);
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5rem;
  display: inline-block;
}
.CL-card .content .btn button:hover{
  transform: scale(0.98);
  background: rgb(39,150,60);
  background: linear-gradient(90deg, rgba(39,150,60,1) 0%, rgba(12,107,61,1) 100%); }


/* Cosmetics section */
#Cosmetics{
  display: grid;
  min-width: 960px;
  max-width: 1920px;
  margin: 0 auto;  
  place-items: center;
  text-align: center;
  align-items: center;
  background: var(--whiteBG)

}
.cosmetics-heading{
  text-align: center;
  font-size: 4rem;
  align-items: baseline;
  justify-content: center;
  font-size: 4rem;
  color: #333;
  width: 100%;
  padding: 2px;
  box-sizing: border-box;  margin: 2rem 0;
  background: rgba(0, 0, 0, .1);
  font-family: 'Playball', cursive;
}  
.cosmetics-heading span{
  color: var(--green);
  font-size: 1.8rem;
  font-weight: 600;
}
.slider{
  max-width: 1100px;
  display: flex;
}
.slider .COS-card{
  flex: 1;
  margin: 0 10px;
  background: #fff;
}
.slider .COS-card .img{
  height: 200px;
  width: 100%;
}
.slider .COS-card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .COS-card .content{
  padding: 10px 20px;
}
.COS-card .content .title{
  font-size: 25px;
  font-weight: 600;
}
.COS-card .content .sub-title{
  font-size: 20px;
  font-weight: 600;
  color: var(--lite-green);
  line-height: 20px;
}
.COS-card .content p{
  text-align: justify;
  margin: 10px 0;
}
.COS-card .content .btn{
  display: block;
  text-align: left;
  margin: 10px 0;
}
.COS-card .content .btn button{
  background: var(--green);
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5rem;
  display: inline-block;
}
.COS-card .content .btn button:hover{
  transform: scale(0.98);
  background: rgb(39,150,60);
  background: linear-gradient(90deg, rgba(39,150,60,1) 0%, rgba(12,107,61,1) 100%); }


/* Media queries for responsive design */
@media (max-width: 991px) {
  /* Reduce font size and adjust padding for smaller screens */
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }

  /* Adjust background position for home section */
  .home{
    background-position: left;
  }
}

@media (max-width: 768px) {
  /* Display hamburger menu icon and hide navigation links */
  header .fa-bars {
    display: block;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #eee;
    border-top: .1rem solid rgba(0, 0, 0, .1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  /* Show navigation links when hamburger menu icon is clicked */
  header #toggler:checked ~ .navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  /* Adjust styles for navigation links */
  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: white;
    border: .1rem solid rgba(0, 0, 0, .1);
    display: block;
  }

  /* Adjust font sizes for home section content */
  .home .content h3{
    font-size: 5rem;
  }
  .home .content span{
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  /* Reduce font size for smaller screens */
  html {
    font-size: 50%;
  }

  /* Adjust font size for headings */
  .heading{
    font-size: 3rem;
  }
}



/* BEFORE FOOTER SECTION START */
#Befooter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00CD54;
  padding: 2rem 0;
}

#Befooter .quote {
  max-width: 70rem;
  text-align: center;
}

#Befooter .quote h1 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 1rem;
}

#Befooter .quote span {
  font-size: 4rem;
  font-family: 'Playball', cursive;
  color: #333;
  margin-bottom: 1rem;
}
#Befooter .quote p {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 2rem;
}

#Befooter .button {
  display: inline-block;
  background-color: var(--yellow);
  color: #333;
  padding: 1rem 2rem;
  border-radius: 5rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

#Befooter .button:hover {
  background: rgb(39,150,60);
  background: linear-gradient(90deg, rgba(39,150,60,1) 0%, rgba(12,107,61,1) 100%);  
  color: #fff;
  transform: scale(0.98);
}


/* FOOTER SECTION START */
footer {
  /* Set the width of the footer to 100% and position it at the bottom of the page */
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  /* Set the background color of the footer */
  background: var(--shadedBG);
}

footer .content {
  /* Set the maximum width of the content container and center it */
  max-width: 1350px;
  margin: auto;
  padding: 20px;  /* Add some padding to the container */
  display: flex;  /* Use flexbox to arrange the content in rows and columns */
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a {
  /* Set the color of the text in the content container */
  color: #333;
}
footer .content .box {
  /* Set the width of each box in the content container */
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic {
  /* Set the font size, weight, and color of the topic headings */
  font-size: 22px;
  font-weight: 600;
  color: #333;
  /* Add some margin to the bottom of the headings */
  margin-bottom: 16px;
}

footer .content p {
  /* Justify the text in the content container */
  text-align: justify;
}
footer .content .lower .topic {
  /* Add some margin to the top and bottom of the lower topic headings */
  margin: 24px 0 5px 0;
}
footer .content .lower i {
  /* Add some padding to the right of the icons in the lower section */
  padding-right: 16px;
}
footer .content .middle {
  /* Add some padding to the left of the middle section */
  padding-left: 80px;
}
footer .content .middle a {
  /* Set the line height of the links in the middle section */
  line-height: 24px;
  font-size: 12px;
  font-weight: 500;
}

footer .content .middle a:hover {
  text-decoration: underline;
  color: var(--green);
  transform: scale(0.98);
  font-weight: bold;
}
footer .content .right input[type="email"] {
  /* Set the height, width, and other styles for the email input field */
  height: 50px;
  width: 100%;
  outline: none;
  color: #333;
  background: var(--whiteBG);
  border-radius: 5px;
  padding-left: 12px;
  font-size: 12px;
  border: 2px solid #333;
}
footer .content .right input[type="submit"] {
  /* Set the height, width, and other styles for the submit button */
  height: 42px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: var(--whiteBG);
  background: var(--green);
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eee;
  /* Add a transition effect to the submit button */
  transition: all 0.3s ease-in-out;
}
footer .content .right input[type="submit"]:hover {
  /* Set the hover styles for the submit button */
  background: rgb(39,150,60);
  background: linear-gradient(90deg, rgba(39,150,60,1) 0%, rgba(12,107,61,1) 100%);
  color: var(--whiteBG);
  transform: scale(0.98);
}
footer .content .media-icons a {
  /* Set the styles for the social media icons */
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  /* Add a transition effect to the social media icons */
  transition: all 0.3s ease;
}
footer .content .media-icons a:hover {
  /* Set the hover styles for the social media icons */
  color: #fff;
  transform: scale(1);
  background: rgb(39,150,60);
  background: linear-gradient(90deg, rgba(39,150,60,1) 0%, rgba(12,107,61,1) 100%);
}
footer .vbottom {
  /* Set the styles for the bottom text in the footer */
  width: 100%;
  text-align: right;
  color: #333;
  padding: 0 40px 5px 0;
  /* Add the Privacy Policy and Terms and Regulations links */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
}
footer .vbottom a {
  /* Set the styles for the link in the bottom text */
  color: var(--green);
}
footer a {
  /* Add a transition effect to all links in the footer */
  transition: all 0.3s ease;
}
footer a:hover {
  /* Set the hover styles for all links in the footer */
  text-decoration: underline;
  color: var(--green);
}

footer.hidden {
  /* Hide the footer when it has the "hidden" class */
  display: none;
}

/* Add padding to the bottom of the main section to push the footer down */
main {
  padding-bottom: 10rem;
}

/* This media query targets screens with a maximum width of 1100px */
@media (max-width:1100px) {
  /* The footer's content's middle section has its padding-left set to 50px */
  footer .content .middle {
    padding-left: 50px;
  }
}

/* This media query targets screens with a maximum width of 950px */
@media (max-width:950px) {
  /* The footer's content's box has its width set to 50% */
  footer .content .box {
    width: 50%;
  }
  /* The content's right section has its margin-top set to 40px */
  .content .right {
    margin-top: 40px;
  }
}

/* This media query targets screens with a maximum width of 560px */
@media (max-width:560px) {
  /* The footer is positioned relative */
  footer {
    position: relative;
  }
  /* The footer's content's box has its width set to 100% and margin-top set to 30px */
  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }
  /* The footer's content's middle section has its padding-left set to 0 */
  footer .content .middle {
    padding-left: 0;
  }
}

/* skip styles */
.skip a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #eee;
  background: var(--green);
  padding: 7px 12px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
}

.skip a:hover{
  color: #fff;
  transform: scale(0.98);
  background: rgb(39,150,60);
  background: linear-gradient(90deg, rgba(39,150,60,1) 0%, rgba(12,107,61,1) 100%);
}
